<div class="dashboard-container">
    <h1>Welcome to Methodology Dashboard</h1>
    <p>We will be using Kolb Structure</p>
    <div class="stepper">
      <nb-stepper orientation="horizontal">
        <nb-step label="Introduction">
          <div class="section">
            <h2>Introduction:</h2>
            <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
        <nb-step label="How">
          <div class="section">
            <h2>How:</h2>
            <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
        <nb-step label="Why">
          <div class="section">
            <h2>Why:</h2>
            <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
        <nb-step label="What">
          <div class="section">
            <h2>What:</h2>
            <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
        <nb-step label="What if">
          <div class="section">
            <h2>What if:</h2>
            <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor>
          </div>
        </nb-step>
      </nb-stepper>
    </div>
  </div>
  