.chart-label {
  text-align: center;
  font-size: 1em; /* Adjusted font size */
  margin-top: 10px; /* Adjusted margin */
}

ngx-charts-pie-chart {
  display: block;
}

h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

select {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1rem;
}
