.ecommerce {
  height: 300px;
  width: 600px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.highlight {
  font-weight: bold; /* Makes the text bold */
  color: #7a03ad;    /* Changes the text color, adjust as needed */
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.fdd-processes {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 20px;
}

.fdd-processes p {
  font-size: 1.2em;
  color: #333;
}

.fdd-processes ol {
  padding-left: 20px;
}

.fdd-processes li {
  margin-bottom: 10px;
}

.highlighted {
  font-weight: bold;
  color: #ff6600; /* Adjust the color as needed */
  background-color: #ffffcc; /* Optional: add background color to highlight */
  padding: 2px 4px;
  border-radius: 4px; /* Optional: add rounded corners */
}

.reviews {
  padding: 20px;
}

.review {
  display: flex;
  justify-content: space-between; /* Space between content and actions */
  align-items: flex-start; /* Align items at the top */
  margin-bottom: 20px; /* Space between reviews */
}

.review-content {
  flex: 1; /* Allow the content to take up remaining space */
}

.actions {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
  margin-left: 20px; /* Space between content and actions */
}

.actions button {
  width: 100px; /* Adjust button width as needed */
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Pushes the button to the right */
  padding: 10px; /* Adjust as needed */
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* Add an empty line at the end of the file */
